@import "tailwindcss";


@font-face {
    font-family: "gilroy";
    src: url(../assets/fonts/gilroy/Gilroy-Thin.ttf);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    
    
}

@font-face {
    font-family: "gilroy";
    src: url(../assets/fonts/gilroy/Gilroy-Regular.ttf);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    
}

@font-face {
    font-family: "gilroy";
    src: url(../assets/fonts/gilroy/Gilroy-Medium.ttf);
    font-weight: 600;
    font-display: swap;
    font-style: normal;


}
@font-face {
    font-family: "gilroy";
    src: url(../assets/fonts/gilroy/Gilroy-SemiBold.ttf);
    font-weight: 700;
    font-display: swap;
    font-style: normal;


}



body{ font-family: "gilroy"; }
h3{font-family: "gilroy";}
p{font-family: "gilroy";font-weight: 500;}

.swiper{margin-left: 100px !important;}

.mySwiper .swiper-slide-active div{background-color: #FFF;}
.mySwiper .swiper-slide-active h5 , .swiper-slide-active span{color: #25A4AD;}

.hvr:hover h5,.hvr:hover span,.hvr:hover ul li{color: #25A4AD;}

.hvr:hover{box-shadow: 0px 1.85px 3.15px 0px #31313106;

box-shadow: 0px 20px 13px 0px #3131310D;

box-shadow: 0px 38.52px 25.48px 0px #3131310F;
}




